.swiper {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
  }
  
  .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 400px;
    border-radius: 10px;
  }
  