.servicesSection {
  padding: 80px 20px;
  background: linear-gradient(to right, #f0fff4, #e6fffa);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}
.servicesHeader {
  text-align: center; /* Center the h2 */
}
.servicesHeader h2 {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  font-size: 2.4rem;
  font-weight: 700;
  color: #064e3b;
}

.servicesHeader h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #10b981;
  margin: 10px auto 0 auto;
  border-radius: 999px;

}

.servicesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  padding: 0 20px;
}

.servicesText {
  text-align: center;
  max-width: 800px;
  margin-top: 20px;
}

.servicesSubtitle {
  font-size: 1.25rem;
  color: #10b981;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.servicesTitle {
  font-size: 1.5rem;
  color: #065f46;
  font-weight: 700;
  margin-bottom: 20px;
}

.servicesDescription {
  font-size: 1rem;
  color: #065f46;
  margin-bottom: 30px;
}

.servicesButton {
  padding: 15px 25px;
  border: 2px solid #10b981;
  border-radius: 999px;
  color: #065f46;
  font-weight: 700;
  background-color: #ffffff;
  font-size: 17px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 250ms;
  cursor: pointer;
}

.servicesButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(to right, #10b981, #059669);
  border-radius: 15px;
  z-index: -1;
  transition: all 250ms;
}

.servicesButton:hover {
  color: #e8e8e8;
  background: transparent;
}

.servicesButton:hover::before {
  width: 100%;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  width: 100%;
  justify-items: center;
}

.serviceCard {
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.serviceCard:hover {
  transform: translateY(-5px);
}

.serviceIcon {
  font-size: 3rem;
  color: #10b981;
  margin-bottom: 10px;
}

.serviceName {
  font-size: 1rem;
  color: #065f46;
  font-weight: 600;
}

.servicesCardWrapper {
  margin-top: 60px;
  width: 100%;
}

@media (max-width: 768px) {
  .servicesButton {
    width: 100%;
    padding: 12px;
  }

  .servicesWrapper {
    padding: 0 10px;
    gap: 30px;
  }

  .servicesGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .servicesText {
    max-width: 100%;
  }
}
