/* Navbar */
.navbar {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

/* Navbar container */
.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1.5rem;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  background: #00d95f;
  border: 1px solid #00d95f;
  padding: 0.4rem 1.8rem;
  font-size: 1rem;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
  color: white;
}


.button:hover {
  background-color: transparent;
  color: #00d95f;
}



/* Logo */
.company-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.logo-title {
  height: 36px;
  object-fit: contain;
  display: block;
}

.logo-img {
  height: 44px;
  object-fit: contain;
  display: block;
}

/* Hamburger styles */
.checkbox {
  display: none;
}

.hamburger-lines {
  display: none;
  width: 32px;
  height: 26px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1002;
}

.hamburger-lines .line {
  width: 100%;
  height: 4px;
  background-color: #0e2431;
  border-radius: 10px;
  transition: all 0.4s ease;
  transform-origin: center;
}

/* Nav items */
.menu-items {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.menu-items li a {
  color: #0e2431;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.7rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

.menu-items li a:hover {
  font-weight: 600;
  color: #196503;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .hamburger-lines {
    display: flex;
  }

  .menu-items {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    transition: left 0.4s ease-in-out;
    z-index: 999;
  }

  .menu-items.open {
    left: 0;
  }

  .menu-items li {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .checkbox:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg) translate(7px, 8px);
  }

  .checkbox:checked ~ .hamburger-lines .line2 {
    opacity: 0;
  }

  .checkbox:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg) translate(7px, -9px);
  }

  /* Mobile contact button styling */
  .mobile-only {
    display: block!important;
  }

  .desktop-only {
    display: none!important;
  }

  .mobile-only .button {
    font-size: 1.5rem;
    padding: 0.8rem 8rem;
    border-radius: 999px;
    min-width: 100%!important;
    max-width: 100%!important;
  }

}

/* Desktop Only & Mobile Only visibility classes */
.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

/* Prevent background scroll when menu is open */
body.no-scroll {
  overflow: hidden;
}
